<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.edu.tdc.tourguide">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourGuide"
        tools:targetApi="31">
        <activity
            android:name=".AttractionActivity"
            android:parentActivityName=".SideMenuActivity"
            android:exported="false" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SideMenuActivity"/>

        </activity>

<!--        <activity-->
<!--            android:name=".SideMenuActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/title_activity_side_menu"-->
<!--            android:theme="@style/Theme.TourGuide.NoActionBar">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".ScheduleActivity"
            android:theme="@style/Theme.TourGuide.Actionbar"
        android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="."-->
<!--            android:exported="false"/>-->
    </application>

</manifest>